In [ ]:
 a="sihi"
print(f"my name is {a}")

my name is sihi



#**python syntax & structure**

##Basic syntax rules

In [ ]:
print("hello world")#Function call
x=5 #Varibles
y=10 #No need to declare type

hello world

##Python in case-sensitive

In [ ]:
Name="sihi"
name="siri"
print("Name is",Name)
print("Name is",name)
print(Name,name) #different varibles

Name is sihi
Name is siri
sihi siri

##Indentation matters

In [ ]:
if x>0:
  print("x is positive") #4 spaces indentation
  print("this is inside the if block")

x is positive
this is inside the if block

##**Variables & Datatypes**

###Numeric Types

In [ ]:
age=25 #integer
height=5.6 #Float
complex_num=2+3j #Complex

###String Types

In [ ]:
name="sihi"
message='hellooo'
multiline='''This is
           multiline string type'''
print(age,message,multiline)

25 hellooo This is
           multiline string type

###Boolean Type

In [ ]:
is_actived=True
is_finished=False

###Type Checking

In [ ]:
print(type(age)) #<class 'int'>
print(type(height)) #<class 'float>
print(type(name)) #<class 'str'>

<class 'int'>
<class 'float'>
<class 'str'>

###Type Conversion

In [ ]:
str_number=123
int_number=int(str_number)
float_number=float(str_number)

print(f"Original:{str_number} (type:{type(str_number)})")
print(f"Integer:{int_number} (type:{type(int_number)})")
print(f"Float:{float_number} (type:{type(float_number)})")

Original:123 (type:<class 'int'>)
Integer:123 (type:<class 'int'>)
Float:123.0 (type:<class 'float'>)

#**Hands-On Exercise:**

Exercise 1:Personal Information

###create variables for personal information

In [ ]:
first_name="Rajeshwari"
last_name="NK"
age=20
height=5.5
is_student=True

###print formatted information

In [ ]:
print(f"Name:{first_name} {last_name}")
print(f"Age:{age}")
print(f"Height:{height}")
print(f"Student:{is_student}")

Name:Rajeshwari NK
Age:20
Height:5.5
Student:True

###Type conversion

In [ ]:
age_str=str(age)
height_int=int(height)
print(f"Age as string:{age_str}")
print(f"Height as string:{height_int} ")

Age as string:20
Height as string:5

#**Operators & Basic Operations**

##Arithmetic Operator

In [ ]:
a=10
b=3

print(f"Addition:{a}+{b}={a+b}")
print(f"Subtraction:{a}-{b}={a-b}")
print(f"Multiplication:{a}*{b}={a*b}")
print(f"Division:{a}/{b}={a/b}")
print(f"Floor division:{a}//{b}={a//b}")
print(f"Modulus:{a}%{b}={a%b}")
print(f"Exponentiation:{a}**{b}={a**b}")

Addition:10+3=13
Subtraction:10-3=7
Multiplication:10*3=30
Division:10/3=3.3333333333333335
Floor division:10//3=3
Modulus:10%3=1
Exponentiation:10**3=1000

###Order Of Operations(PEMDAS)


* Parentheses
* Exponentiation
* Multiplication
* Division
* Addition
* Subtraction

In [ ]:
result=2+3*4**2-1
print(f"2+3*4**2-1={result}")

2+3*4**2-1=49

##Relational or Comparison Operator

In [ ]:
x=5
y=10

print(f"{x}=={y}:{x==y}") #equals to
print(f"{x}!={y}:{x!=y}") # not equals
print(f"{x}<{y}:{x<y}") #less than
print(f"{x}>{y}:{x>y}") #greater than
print(f"{x}<={y}:{x<=y}") #less than or equals
print(f"{x}>={y}:{x>=y}") #greater than or equals

5==10:False
5!=10:True
5<10:True
5>10:False
5<=10:True
5>=10:False

###string comparison

In [ ]:
name1="Alice"
name2="Bob"
print(f"'{name1}'<'{name2}':{name1<name2}") #alphabetical order

'Alice'<'Bob':True

##Logical Operators

In [ ]:
p=True
q=False

print(f"p and q:{p and q}") #both must be True
print(f"p or q:{p or q}") # atleast one must be True
print(f"not p:{not p}") #opposite of p

p and q:False
p or q:True
not p:False

In [ ]:
#Pratical Example
age=20
has_license=True
can_drive=age>=18 and has_license
print(f"can_drive:{can_drive}")

can_drive:True

In [ ]:
#Multiple Conditions
score=85
is_present=True
can_pass=score>=80 and is_present
print(f"can_pass:{can_pass}")

can_pass:True

#**Hands-on Exercise**
Exercise2 : Simple Calculator

Create a Calculator that checks if a person qualifies for a loan

In [ ]:
# Personal Information
age=50
annual_income=50000
credit_score=720
has_collateral=True

In [ ]:
#Loan criteria
min_age=18
min_income=30000
min_credit_score=650

In [ ]:
#check qualification
age_qualified=age>=min_age
income_qualified=annual_income>=min_income
credit_qualified=credit_score>=min_credit_score
overall_qualified=age_qualified and income_qualified and credit_qualified

In [ ]:
age=50
annual_income=50000
credit_score=720
has_collateral=True
qualify_for=age>18 and has_collateral
income_for=annual_income>30000 and has_collateral
credit_for=credit_score>650 and has_collateral
print(f"Age:{qualify_for}")
print(f"Annual_income:{income_for}")
print(f"Credit_score:{credit_for}")

Age:True
Annual_income:True
Credit_score:True

In [ ]:
# Loan Qualification Calculator

# Personal Information
age = 50
annual_income = 50000
credit_score = 720
has_collateral = True

# Loan Criteria
min_age = 18
min_income = 30000
min_credit_score = 650

def check_loan_eligibility(age, income, credit_score, has_collateral):
    print("Loan Eligibility Result")

    if age < min_age:
        print("Not eligible: Age below minimum requirement.")
    elif income < min_income:
        print("Not eligible: Income below minimum requirement.")
    elif credit_score < min_credit_score:
        print(" Not eligible: Credit score below minimum requirement.")
    else:
        print("Eligible for loan.")
        if has_collateral:
            print("Collateral provided: May help secure better loan terms!")

check_loan_eligibility(age, annual_income, credit_score, has_collateral)

Loan Eligibility Result
Eligible for loan.
Collateral provided: May help secure better loan terms!

#**DataStructure**

##**List**

####creating lists

In [ ]:
fruits=["apple","banana","orange","grape"]
numbers=[10,20,30,40,50]
mixed_data=[1,"hello",3.142,True]

####list indexing(0-based)

In [ ]:
print(f"First fruit: {fruits[0]}")
print(f"Last fruit: {fruits[-1]}")
print(f"second to Last: {fruits[2]}")

First fruit: apple
Last fruit: grape
second to Last: orange

####list slicing

In [ ]:
print(f"First 2 fruit: {fruits[0:2]}")
print(f"Last 2 fruit: {fruits[-2:]}")
print(f"All except first: {fruits[1:]}")

First 2 fruit: ['apple', 'banana']
Last 2 fruit: ['orange', 'grape']
All except first: ['banana', 'orange', 'grape']

####list methods

In [ ]:
fruits.append("kiwi") #add to end
fruits.insert(1,"strawberry") # insert at index
removed=fruits.pop() # remove list
print(f"updated list:{fruits}")
print(f"removed:{removed}")

updated list:['apple', 'strawberry', 'banana', 'orange', 'grape']
removed:kiwi

####list operations

In [ ]:
print(f"length:{len(fruits)}")
print(f"contains 'apple':{'apple' in fruits}")
print(f"index of 'banana':{fruits.index('banana')}")

length:5
contains 'apple':True
index of 'banana':2

##**Tuples**

####Tuples are immutable

In [ ]:
coordinates=(10,20)
rgb_color=(255,128,0)
person_info=("Alice",25,"Engineer",True)

####Tuple unpacking

In [ ]:
x,y=coordinates
print(f"x:{x},y:{y}")

x:10,y:20

####Tuple methods

In [ ]:
print(f"count of 25:{person_info.count(25)}")
print(f"index of 'Engineer':{person_info.index('Engineer')}")

count of 25:1
index of 'Engineer':2

####Why use tuples ?

*   Immutable(safe for dictionary keys)
*   Slightly faster than list
*   Good for fixed collections

##**Dictionary**

####Dictionary creation

In [ ]:
person={
    "name":"Alice",
    "age":23,
    "profession":"Software Engineer",
    "salary":75000,
    "skills":["python","javascript","SQL"]
}

####Accessing values

In [ ]:
print(f"Name:{person['name']}")
print(f"Age:{person.get('age','unknown')}")#safe access

Name:Alice
Age:23

####Dictionary methods

In [ ]:
print(f"keys:{list(person.keys())}")
print(f"Values:{list(person.values())}")
print(f"Items:{list(person.items())}")

keys:['name', 'age', 'profession', 'salary', 'skills']
Values:['Alice', 23, 'Software Engineer', 75000, ['python', 'javascript', 'SQL']]
Items:[('name', 'Alice'), ('age', 23), ('profession', 'Software Engineer'), ('salary', 75000), ('skills', ['python', 'javascript', 'SQL'])]

####Adding/Updating

In [ ]:
person["location"]="New york"
person["salary"]=80000 #update existing

#####Pratical use case:Inventory management

In [ ]:
inventory={
    "laptops":{
        "quantity":50,
        "price":999.99
    },
    "phones":{
         "quantity":100,
        "price":599.99
        },
    "tablets":{
      "quantity":30,
        "price":399.99
    }
}

####Nested access

In [ ]:
print(f"Laptop price:${inventory['laptops']['price']}")

Laptop price:$999.99

##**Sets**

####Sets contain unique elements

In [ ]:
colors={"red","green","blue","red"}#duplicate removed
print(f"Colrs:{colors}")

Colrs:{'blue', 'red', 'green'}

####Set operations

In [ ]:
team1_skills={"python","javascript","SQL","react"}
team2_skills={"javascript","SQL","java","spring"}

####Common operations

In [ ]:
print(f"Common_skills:{team1_skills.intersection(team2_skills)}")
print(f"All_skills:{team1_skills.union(team2_skills)}")
print(f"Team1_only:{team1_skills.difference(team2_skills)}")

Common_skills:{'javascript', 'SQL'}
All_skills:{'react', 'SQL', 'javascript', 'spring', 'python', 'java'}
Team1_only:{'python', 'react'}

####Adding to sets

In [ ]:
colors.add("yellow")
colors.update(["purple","orange"])
print(f"updated colors:{colors}")

updated colors:{'red', 'green', 'yellow', 'blue', 'purple', 'orange'}

#**Control Flow**

##Conditional Statements

####Basic if-else

In [ ]:
def get_grade_letter(score):
  if score >=90:
    return "A"
  elif score>=80:
    return "B"
  elif score>=70:
    return "C"
  elif score>=60:
    return "D"
  else:
    return "F"

####Test the function

In [ ]:
test_scores=[95,83,72,65,58]
for score in test_scores:
  grade=get_grade_letter(score)
  print(f"Score{score}:Grade{grade}")

Score95:GradeA
Score83:GradeB
Score72:GradeC
Score65:GradeD
Score58:GradeF

####Nested conditions

In [ ]:
def get_shipping_cost(weight,distance):
  base_cost=5.0

  if weight<=1:
    weight_cost=2.0
  elif weight<=5:
    weight_cost=5.0
  else:
    weight_cost=10.0

  if distance<=100:
    distance_cost=1.0
  elif distance<=500:
    distance_cost=3.0
  else:
    distance_cost=7.0
  return base_cost + weight_cost + distance_cost

####Test shipping costs

In [ ]:
print(f"Light,close:${get_shipping_cost(0.5,50)}")
print(f"Heavy,far:${get_shipping_cost(10,800)}")

Light,close:$8.0
Heavy,far:$22.0

##Loops-For Loop

####Basic for loop

In [ ]:
fruits=["apple","banana","orange","grape"]
for fruit in fruits:
  print(f"I like {fruit}")

I like apple
I like banana
I like orange
I like grape

####Loop with enumerate(get index)

In [ ]:
for i, fruit in enumerate(fruits):
  print(f"{i+1}.{fruit}")

1.apple
2.banana
3.orange
4.grape

####Loop with range

In [ ]:
for day in range(1,8):
  print(f"Day {day} of the week")

Day 1 of the week
Day 2 of the week
Day 3 of the week
Day 4 of the week
Day 5 of the week
Day 6 of the week
Day 7 of the week

####Nested loops-Creating a multiplication table

In [ ]:
print("Multiplication table:")
for i in range(1,6):
  for j in range(1,6):
    product=i+j
    print(f"{i} x {j} ={product:2d}",end="")
    print() # new line after each row

Multiplication table:
1 x 1 = 2
1 x 2 = 3
1 x 3 = 4
1 x 4 = 5
1 x 5 = 6
2 x 1 = 3
2 x 2 = 4
2 x 3 = 5
2 x 4 = 6
2 x 5 = 7
3 x 1 = 4
3 x 2 = 5
3 x 3 = 6
3 x 4 = 7
3 x 5 = 8
4 x 1 = 5
4 x 2 = 6
4 x 3 = 7
4 x 4 = 8
4 x 5 = 9
5 x 1 = 6
5 x 2 = 7
5 x 3 = 8
5 x 4 = 9
5 x 5 =10

####Processing data with loops

In [ ]:
sales_data=[
{"product":"Laptop","price":999,"quantity":5},
{"product":"phone","price":599,"quantity":10},
{"product":"Tablet","price":399,"quantity":8}
]

total_revenue=0

for item in sales_data:
  item_revenue=item["price"]*item["quantity"]
  total_revenue+=item_revenue
  print(f"{item['product']}:${item_revenue}")
print(f"Total Revenue:${total_revenue}")

Laptop:$4995
phone:$5990
Tablet:$3192
Total Revenue:$14177

##Loops-While loop

####While loop for user input simulation

In [ ]:
def simple_guessing_game():
 target=7
 guess=0
 attempts=0
 print("Guess the number between 1 to 10!")

 while guess !=target:

   #Simulate user input
   import random
   guess=random.randint(1,10)
   attempts+=1

   if guess<target:
    print(f"Guess{attempts}:{guess}-Too low!")
   elif guess>target:
    print(f"Guess{attempts}:{guess}-Too high!")
   else:
    print(f"Guess{attempts}:{guess}-Correct!")

    #Safety check
    if attempts>10:
      print("Max attempts reached!")
      break

    print(f"Game finished in{attempts}attempts")

simple_guessing_game()

Guess the number between 1 to 10!
Guess1:1-Too low!
Guess2:2-Too low!
Guess3:7-Correct!
Game finished in3attempts

####While loop for processing

In [ ]:
def process_queue():
  queue=["Task1","Task2","Task3","Task4"]

  while queue:
    current_task=queue.pop(0) #remove first item
    print(f"Processing:{current_task}")

    print(f"Remaining tasks:{len(queue)}")

  print("All tasks completed!")
process_queue()

Processing:Task1
Remaining tasks:3
Processing:Task2
Remaining tasks:2
Processing:Task3
Remaining tasks:1
Processing:Task4
Remaining tasks:0
All tasks completed!

#**Function**

##Function Basics

####Basic function definition

In [ ]:
def greet(name):
  return f"Hello,{name}!"

####Function call

In [ ]:
message=greet("python programmer")
print(message)

Hello,python programmer!

####Function with multiple parameters

In [ ]:
def calculate_area(length,width):
  area=length*width
  return area

####Test the function

In [ ]:
room_area=calculate_area(12,10)
print(f"Room area:{room_area}square feet")

Room area:120square feet

####Function with default parameters

In [ ]:
def create_user_profile(name,age=18,location="Unknown",active=True):
  return{
      "name":name,
      "age":age,
      "location":location,
      "active":active
  }

####Different ways to call

In [ ]:
profile1=create_user_profile("Alice") #use defaults
profile2=create_user_profile("Bob",25) #override age
profile3=create_user_profile("Charlie",location="New York",age=30) #named parameters

print(f"Profile1:{profile1}")
print(f"Profile2:{profile2}")
print(f"Profile3:{profile3}")

Profile1:{'name': 'Alice', 'age': 18, 'location': 'Unknown', 'active': True}
Profile2:{'name': 'Bob', 'age': 25, 'location': 'Unknown', 'active': True}
Profile3:{'name': 'Charlie', 'age': 30, 'location': 'New York', 'active': True}

####Function returning multiple values

In [ ]:
def analyze_text(text):
  words=text.split()
  word_count=len(words)
  char_count=len(text)
  char_count_no_spaces=len(text.replace(" " ,""))

  return word_count,char_count,char_count_no_spaces

####Test with sample text

In [ ]:
sample_text ="python is a powerful programming language"

words,chars,chars_no_space=analyze_text(sample_text)

print(f"Text:'{sample_text}'")
print(f"Word count:{words}")
print(f"Charater count:{chars}")
print(f"Charater(no_spaces):{chars_no_space}")

Text:'python is a powerful programming language'
Word count:6
Charater count:41
Charater(no_spaces):36

####Variable-length arguments

In [ ]:
def calculate_average(*numbers):
  if not numbers:
    return 0

  return sum(numbers)/len(numbers)

####Test with different numbers of arguments

In [ ]:
avg1=calculate_average(10,20,30)
avg2=calculate_average(5,15,25,35,45)
avg3=calculate_average(100)


print(f"Average of 10,20,30:{avg1}")
print(f"Average of 5,15,25,35,45:{avg2}")
print(f"Average of 100:{avg3}")

Average of 10,20,30:20.0
Average of 5,15,25,35,45:25.0
Average of 100:100.0

####keyword arguments

In [ ]:
def create_report(**data):
  print("==REPORT==")

  for key,value in data.items():
    print(f"{key.replace('_',' ').title()}:{value}")

  print("=================")

create_report(
    title="Monthly Sales Report",
    data="2024-01-01",
    total_sales=15000,
    new_customers=25,
    returning_customers=150
)

==REPORT==
Title:Monthly Sales Report
Data:2024-01-01
Total Sales:15000
New Customers:25
Returning Customers:150
=================

###**Lambda Functions**

Lambda function (anonymous function)

####Regular function

In [ ]:
 def square(x):
   return x**2

####Lambda equivalent

In [ ]:
square_lambda=lambda x:x**2
print(f"Regular function:{square(5)}")
print(f"Lambda function:{square_lambda(5)}")

Regular function:25
Lambda function:25

####Lambda with multiple arguments

In [ ]:
multiply=lambda x,y:x*y
print(f"Multiply:{multiply(3,4)}")

Multiply:12

####Lambda with bulit-in functions

In [ ]:
numbers=[1,2,3,4,5]
squared=list(map(lambda x:x**2,numbers))
print(f"squared numbers:{squared}")

squared numbers:[1, 4, 9, 16, 25]

####Filtering with lambda

In [ ]:
ages=[16,21,35,12,45,18,67]
adults=list(filter(lambda age:age>=18,ages))
print(f"Adult ages:{adults}")

Adult ages:[21, 35, 45, 18, 67]

####Sorting with lambda

In [ ]:
people=[
    {"name":"Alice","age":30},
    {"name":"Bob","age":25},
    {"name":"Charlie","age":35}
]

sorted_people=sorted(
    people,
    key=lambda person:person["age"])
print("People sorted by age")

for person in sorted_people:
  print(f"{person['name']}:{person['age']}")

People sorted by age
Bob:25
Alice:30
Charlie:35